.monTitre  {
    height: 60px;
    margin: 0;
    background : lightblue;
	font-size : 60px;
	font-family: arial;
	color: #0000FF;
	text-align: center;
}
.monSousTitre  {
    height: 30px;
    margin: 0;
    background : lightblue;
	font-size : 30px;
	font-family: arial;
	color: #0000FF;
	text-align: center;
	border-bottom:2px solid blue;
	padding-bottom: 5px;
	margin-bottom:20px;
}
body {
  background-color: lightblue;
  font-family: arial;
}
h1 {
  color: navy;
  margin-left: 20px;
}
table.dossiers {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.dossiers td, table.dossiers th {
  border: 4px solid #FFFFFF;
  padding: 3px 2px;
}
table.dossiers tbody td {
  font-size: 13px;
}
table.dossiers tr:nth-child(even) {
  background: #D0E4F5;
}
table.dossiers thead {
  background: #D0E4F5;
  border-bottom: 5px solid #FFFFFF;
}
table.dossiers thead th {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.dossiers thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot td {
  font-size: 14px;
}
table.paleBlueRows {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 4px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}
table.paleBlueRows thead {
  background: #D0E4F5;
  border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot td {
  font-size: 14px;
}
.monbouton {
text-decoration: none;
padding: 10px;
font-family: arial;
font-size: 1em;
color: #0c0c0c;
background-color: #b8cce4;
border-radius: 24px;
border: 4px solid #FFFFFF;
box-shadow: 3px 3px 12px #444444;
}


.monbouton:hover {
padding: 10px;
color: #FFFFFF;
background-color: #4bacc6;
box-shadow: 1px 1px 4px #777777;
-webkit-box-shadow: 1px 1px 4px #777777;
-moz-box-shadow: 1px 1px 4px #777777;
}

.maclass0 { font-size: medium; color: blue; }
.maclass1 { font-size: medium; color: black; font-weight: bold; }
.maclass2 { font-size: medium; color: black; }
.maclass3 { font-size: medium; color: black; font-weight: bold; }
.maclass4 { font-size: medium; color: black; }
.maclass5 { font-size: medium; color: FF00FF; }
